<section>

   <div class="input-div" id="start-location">
        <img src="/icons/location_search.svg" alt="" class="icon-img">
        <input type="text" class="input-field" name="startLocation" id="startLocationInp" required placeholder="Set start Location">
        <img src="/icons/microphone.svg" alt="" class="icon-img">
        <div id="profile-div"></div>
    </div>

    <div class="input-div" id="end-location">
        <img src="/icons/location_search.svg" alt="" class="icon-img">
        <input type="text" class="input-field" name="destination" id="destinationInp" required placeholder="Destination">
        <img src="/icons/microphone.svg" alt="" class="icon-img">
    </div> 

    <div id="location-output">

        <div class="title-div">
            <span class="div-title">Suggestions</span>
        </div>

        <div></div>
    </div>

</section>
