<section id="main-frame">

<map id="map"></map>

  <div class="side-menu">
      
      <a routerLink="/" class="side-menu-item">
          <img src="/icons/search.svg" alt="" class="icon-img">
          <span class="icon-title">Search</span>
      </a>
      <a routerLink="/go-to" class="side-menu-item">
          <img src="/icons/goto.svg" alt="" class="icon-img">
          <span class="icon-title">Go To</span>
      </a>
      <a routerLink="/explore" class="side-menu-item">
          <img src="/icons/explore.svg" alt="" class="icon-img">
          <span class="icon-title">Explore</span>
      </a>
      <a routerLink="/saved" class="side-menu-item">
          <img src="/icons/saved.svg" alt="" class="icon-img">
          <span class="icon-title">Saved</span>
      </a>
      <a routerLink="/profile" class="side-menu-item">
          <img src="/icons/profile.svg" alt="" class="icon-img">
          <span class="icon-title">Profile</span>
      </a>
      
  </div>

  <div id="output-screen">
    <router-outlet></router-outlet>
  </div>

</section>