<section id="main-frame">

  <div id="map"></div>

  <div class="side-menu">
      
      <div class="side-menu-item">
          <img src="/icons/search.svg" alt="" class="icon-img">
          <span class="icon-title">Search</span>
      </div>
      <div class="side-menu-item">
          <img src="/icons/goto.svg" alt="" class="icon-img">
          <span class="icon-title">Go To</span>
      </div>
      <div class="side-menu-item">
          <img src="/icons/explore.svg" alt="" class="icon-img">
          <span class="icon-title">Explore</span>
      </div>
      <div class="side-menu-item">
          <img src="/icons/saved.svg" alt="" class="icon-img">
          <span class="icon-title">Saved</span>
      </div>
      <div class="side-menu-item">
          <img src="/icons/profile.svg" alt="" class="icon-img">
          <span class="icon-title">Profile</span>
      </div>
      
  </div>

</section>