* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a, li {
    list-style: none;
    text-decoration: none;
    color: #161616;
}

body {
    position: relative;
    width: 100%;
    height: 100vh;
    position: relative;
    font-family: var(--pops);
    background-color: #ffffff;
}

button, #placeOfInterest {
    cursor: pointer;
    padding: 8px 0;
    width: 250px;
    background-color: black;
    color: white;
    border: 0 solid black;
    border-radius: 5px;
    font-family: var(--pops);
    font-size: 1.1em;
    letter-spacing: 1px;
    font-weight: 500px;
}

:root {
    --pops: "Poppins", sans-serif;
    --nuns: "Nunito", sans-serif;
    --monts: "Montserrat", sans-serif;
}

#map {
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    border: 0 solid transparent;
    border-radius: 10px;
    z-index: 13;
}

#main-frame {
    position: absolute;
    width: 100vw;
    top: 0;
    bottom: 0;
}

.side-menu {
    position: absolute;
    padding: 1rem 10px;
    background-color: #ffffff;
    border: 0 solid transparent;
    border-radius: 0 5px 5px 0;
    z-index: 14;
    top: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.side-menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .6rem;
    width: 100%;
    transition-duration: .3s;
    border: 0 solid transparent;
    border-radius: 5px;
    padding: 8px;
    cursor: pointer;
}

.side-menu-item:hover,
.side-menu-item:active {
    background-color: #16161616;
}

.icon-img {
    height: 20px;
}

.icon-title {
    font-size: .8em;
    font-weight: 500;
    letter-spacing: 1px;
}

#output-screen {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 2rem;
    z-index: 16;
    background-color: transparent;
}