* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a, li {
    list-style: none;
    text-decoration: none;
    color: #161616;
}

body {
    position: relative;
    width: 100%;
    height: 100vh;
    position: relative;
    font-family: var(--pops);
    background-color: #ffffff;
}

button, #placeOfInterest {
    cursor: pointer;
    padding: 8px 0;
    width: 250px;
    background-color: black;
    color: white;
    border: 0 solid black;
    border-radius: 5px;
    font-family: var(--pops);
    font-size: 1.1em;
    letter-spacing: 1px;
    font-weight: 500px;
}

:root {
    --pops: "Poppins", sans-serif;
    --nuns: "Nunito", sans-serif;
    --monts: "Montserrat", sans-serif;
}

#map {
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    border: 0 solid transparent;
    border-radius: 10px;
    z-index: 13;
}

#main-frame {
    position: absolute;
    width: 100vw;
    top: 0;
    bottom: 0;
}

.side-menu {
    position: absolute;
    padding: 1rem 10px;
    background-color: #ffffff;
    border: 0 solid transparent;
    border-radius: 0 5px 5px 0;
    z-index: 14;
    top: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.side-menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .6rem;
    width: 100%;
    transition-duration: .3s;
    border: 0 solid transparent;
    border-radius: 5px;
    padding: 8px;
    cursor: pointer;
}

.side-menu-item:hover,
.side-menu-item:active {
    background-color: #16161616;
}

.icon-img {
    height: 18px;
}

.icon-title {
    font-size: .7em;
    font-weight: 500;
}

#output-screen {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1rem 2rem;
    z-index: 16;
    background-color: transparent;
}


/* INPUT STYLES */

.input-div {
    background-color: white;
    padding: 12px 16px;
    height: 55px;
    border: 0 solid transparent;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    transition-duration: .3s;
}

.input-div:hover,
.input-div:focus,
.input-div:active {
    box-shadow: 0 1px 8px 1px rgba(50, 50, 50, 0.347);
}


.input-field {
    font-size: 1.1em;
    letter-spacing: 1px;
    font-weight: 500;
    border: 0 solid transparent;
    display: flex;
    align-items: center;
    min-width: 250px;
    height: 100%;
    line-height: 100%;
}

.input-field:active,
.input-field:hover,
.input-field:focus {
    outline: 0 solid transparent;
}

#profile-div {
    background-color: #161616;
    border: 0 solid transparent;
    border-radius: 100px;
    height: 30px;
    width: 30px;
    margin-left: .5rem;
}

input {
    padding-bottom: 0;
}

/* INPUT STYLES */